@import "../config";

body {
  overflow-x: hidden;
  margin: 0;
  background: $white;

  &.noScroll {
    height: 100%;
    overflow: hidden;

    @include mq($removeMobileMenuBreakpoint) {
      height: auto;
      overflow-y: auto;
    }
  }
}