.btn {
  //Layout
  margin: 0;
  padding: 0.8em 1em;
  border-radius: $r-btn;
  border: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;

  //Typography
  font-family: $font-standard;
  font-size: 0.9em;
  text-decoration: none !important;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq($smallMobileBreakpoint) {
    padding: 0.8em 1.1em;
    letter-spacing: 0.01em;
  }

  @include mq($mobileBreakpoint) {
    font-size: 1em;
    padding: 1em 1.5em;
    min-width: 8em;
    letter-spacing: 0.02em;
  }

  //Color
  color: $white;
  background: linear-gradient(35deg, $brand-color 0%, $brand-purple 250%) no-repeat center 100%/cover;
  box-shadow: $block-shadow;

  //Interaction
  cursor: pointer;
  outline: none;
  transition: color 1s ease;

  &:hover {
    background: linear-gradient(35deg, tint($brand-color, 8%), $brand-cyan 350%) no-repeat center 100%/cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }

  &.btn--green {
    background: linear-gradient(35deg, $brand-color-2 0%, $brand-cyan 350%) no-repeat center 100%/cover;

    &:hover {
      background: linear-gradient(35deg, tint($brand-color-2, 15%), $brand-cyan 160%) no-repeat center 100%/cover;
    }
  }

  &.btn--grey {
    background: tint($font-color, 45%);

    &:hover {
      background: tint($font-color, 40%);
    }
  }

  &.btn--negative {
    background: $negative;

    &:hover {
      background: shade($negative, 8%);
    }
  }

  &.btn--outline {
    padding: 0.6em 2em;
    background: none;
    border: 1px solid rgba($font-color, 0.7);
    color: $font-color;
    box-shadow: none;
    font-weight: normal;

    &:hover {
      color: $font-color;
    }
  }


  &.btn--loading {
    position: relative;
    cursor: wait;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: rgba($white, 0.2);
      opacity: 1;
      animation: loading-progress 6s linear both;
    }
  }

  .btn__mobile-hide {
    display: none;
    
    @include mq($mobileBreakpoint) {
      display: inline;
    }
  }
}