td {
  min-width: 5em;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid $border-color;
  font-family: $font-standard;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;

  @include mq($removeMobileMenuBreakpoint) {
    font-size: 1.1em;
    padding: 0.8em 1em;
  }

  @include mq($largeBreakpoint) {
    font-size: 1.2em;
    padding: 1em 2em;
  }
}