.company-team {
    @extend .wrapper;

    .company-team__content {
        margin: 2em 0;
        overflow: hidden;
        background: $white;
        border-radius: $r;
        box-shadow: $block-shadow;


        @include mq($mobileBreakpoint) {
            margin: 3em 0;
        }

        @include mq($contentGridBreakpoint) {
            margin: 5em 0;
        }
        
        @include mq(1000) {
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .content-block {
        padding: 0;
        margin: 0 auto;
        border-radius: $r $r 0 0;

        &:last-child {
            padding: 1em 1.5em;
            box-sizing: border-box;
            border-radius: 0 0 $r $r;

            @include mq($contentGridBreakpoint) {
                padding: 1.5em;
            }

            @include mq($largeBreakpoint) {
                padding: 2em;
            }
        }

        a {
            color: $brand-color;
            text-decoration: underline;
        }
    }
}