.main-content {
  background-color: $bg-color-2;
}

.content-section {
  @extend .wrapper;
  position: relative;
  margin: auto;
  text-align: center;
}

.content-section__paragraph {
    text-align: center;
}

.hero {
  min-height: 400px;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-dark;
}

.hero__title {
  font-size: 4em;
  color: $white;
}
