.content-section {
    position: relative;
    box-sizing: border-box;
    padding: 2em 0 3em;

    @include mq($mobileBreakpoint) {
        padding: 4em 0;
    }

    &:nth-child(odd) {
        background: $white;
    }

    &.content-section--dark {
        background: $bg-color-dark;
    }

    &.content-section--white {
        background: $white;
    }

    &.content-section--bg-color {
        background: $bg-color;
    }

    &.content-section--dropdowns .search-selector {
        max-width: 35em;
        margin: 0 auto;
    }

    .content-section__wrapper {
        @extend .wrapper;
    }

    .content-section__heading {
        margin: 0;
        font-size: 1.5em;
        color: $font-color;
        font-weight: normal;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include mq($mobileBreakpoint) {
            font-size: 2em;
        }

        @include mq($removeMobileMenuBreakpoint) {
            font-size: 2.5em;
        }

        @at-root .content-section.content-section--dark .content-section__heading {
            color: $white;
        }
    }

    .content-section__subheading {
        margin: 0 0 2em;
        font-size: 0.95em;
        color: rgba($font-color, 0.6);
        text-align: center;

        @include mq($mobileBreakpoint) {
            margin-bottom: 3em;
            font-size: 1.1em;
        }

        @include mq($removeMobileMenuBreakpoint) {
            font-size: 1.2em;
        }

        @at-root .content-section.content-section--dark .content-section__subheading {
            color: $brand-color-2;
        }
    }
}