.hero {
  min-height: 400px;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-dark;
}

.hero__title {
  font-size: 4em;
  color: $white;
}



.department {
	margin-bottom: 95px;
}

.department__heading {
	text-align: left;
	color: $font-color-dark;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 32px;
}

.department__list {
	display: flex;
	flex-wrap: wrap;
}

.department__item {
	margin-right: 40px;
}



.employee__image {
	max-width: 130px;
	height: auto;
}

.employee__name {
	color: $font-color;
	font-size: .9em;
	margin: 8px 0 3px;
}

.employee__jobtitle {
	color: $font-color;
	font-size: .75em;
	margin: 0;
}

.employee__email {
	color: $font-color;
	font-size: .75em;
	margin: 0;
}

.employee__anchor {
	color: $font-color-dark;
	text-decoration: underline;
}
