.department-grid {

    @include mq($mobileBreakpoint) {
        margin-top: 1.5em;
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        align-items: center;
    }

    .department-grid__item {
        padding: 1em;
        box-sizing: border-box;

        @include mq($removeMobileMenuBreakpoint) {
            padding: 1em 2em;
        }
    }

    .employee-img {
        display: block;
        margin: 0 auto;
        max-width: 168px;
        height: auto;
    }
    
    .employee-name {
        color: $font-color;
        font-size: 1em;
        margin: 0.5em 0 0.1em;
        text-align: center;

        @include mq($removeMobileMenuBreakpoint) {
            font-size: 1.1em;
        }
    }
    
    .employee-jobtitle {
        color: rgba($font-color, 0.8);
        font-size: .9em;
        margin: 0.1em 0;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include mq($removeMobileMenuBreakpoint) {
            font-size: 1em;
        }
    }
    
    .employee-email {
        color: $font-color;
        font-size: .9em;
        margin: 0;
        text-align: center;

        @include mq($removeMobileMenuBreakpoint) {
            font-size: 1em;
        }

        a {
            color: $brand-color-2;
        }
    }
}