.evaluation-grid {

    @include mq($mobileBreakpoint) {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
    }

    .evaluation-block {
        flex: 1;

        @include mq($mobileBreakpoint) {
            margin-right: 1em;
        }

        &:last-child {
            margin: 0;
        }

        .evaluation-block__img {
            display: block;
            min-height: 10em;
            background: shade($bg-color, 10%);
        }

        .evaluation-block__text {
            margin-top: 0.5em;
            display: block;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            color: $brand-color-2;
        }
    }
}