.file-upload {
    margin: 0 auto;

    .file-upload__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .file-upload__label {
        @extend .btn;
        display: block;
        max-width: 14em;
        font-size: 0.8em;
    }
}