.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: $white;
  min-height: 6px;
  padding: 10px 20px 8px;
}

.header_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.header_right {
  justify-content: flex-end;
}

.header-logo__anchor {
  margin-right: 14px;
}

.header-logo__image {
  max-height: 24px;
  width: 100%;
  max-width: 8.4em;
}

.header__tagline {
  color: $font-color;
  font-size: .8em;
  font-weight: 400;
  margin: 0 14px 0 0;
}

.nav {
  padding-left: 0;
}

.nav__item {
  display: inline;
  margin-left: 8px;
}

.nav__anchor {
  font-family: $font-standard;
  color: $headings-color;
  font-size: .8em;
  font-weight: 700;
}

.nav__anchor:hover,
.nuxt-link-exact-active {
  color: $brand-color-2;
}

.login-menu {
  margin-right: auto;
}
