.icon-list {

  @include mq($mobileBreakpoint) {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
  }
}

.icon-list__item {
 

  @include mq($mobileBreakpoint) {
    flex: 1;
    min-width: 50%;
    max-width: 50%;
  }

  @include mq($removeMobileMenuBreakpoint) {
    min-width: 25%;
    max-width: 25%;
  }
}

.icon-list__icon {
  display: block;
  position: relative;
  margin: auto;
  max-width: 12em;

  @include mq($mobileBreakpoint) {
    max-width: 8em;
  }

  @include mq($removeMobileMenuBreakpoint) {
    max-width: 10em;
  }

  &.icon-list__item--small {

    @include mq($removeMobileMenuBreakpoint) {
        max-width: 8em;
    }
  }

  &.icon-list__item--large {
    max-width: 18em;
  }
}

.icon-list__heading {
  color: $font-color;
  text-align: center;
  margin: 0 auto;
  font-size: 0.9em;
  padding: 0 0.2em;
  box-sizing: border-box;

  @include mq($mobileBreakpoint) {
    font-size: 0.95em;
  }

  @include mq($removeMobileMenuBreakpoint) {
    font-size: 1em;
  }
}

.icon-list__paragraph {
  color: $font-color;
  text-align: center;
  margin: 5px auto 0;
  font-size: 0.9em;
  padding: 0 0.2em;
  box-sizing: border-box;

  @include mq($removeMobileMenuBreakpoint) {
    font-size: 1em;
  }
}
