.intro-slide {
    @extend .wrapper;

    @include mq($removeMobileMenuBreakPoint) {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
    }

    .intro-slide__content {
        padding: 2em 0 0;

        @include mq($mobileBreakpoint) {
            padding: 2em 0 1em 2em;
            max-width: 25em;
            margin: 0 auto;
        }
    
        @include mq($removeMobileMenuBreakPoint) {
            flex: 1;
            align-self: center;
            padding: 4em 0 2em 0;
            max-width: inherit;
            margin: 0;
        }

        @include mq($largeBreakpoint) {
            padding-bottom: 2em;
        }
        
        .slide-heading {
            margin: 0;
            font-size: 1.7em;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($mobileBreakpoint) {
                font-size: 2.4em;
            }

            @include mq($removeMobileMenuBreakPoint) {
                font-size: 3em;
            }

            @include mq($largeBreakpoint) {
                font-size: 3.5em;
            }

            &.slide-heading--orange {
                color: $brand-color-2;
            }

            &.slide-heading--blue {
                color: $brand-color;
            }
        }

        .slide-text {
            font-size: 1.3em;
            margin: 0.2em 0 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($mobileBreakpoint) {
                font-size: 1.6em;
            }

            @include mq($removeMobileMenuBreakPoint) {
                margin-top: 0.3em;
                font-size: 2em;
                max-width: 17em;
            }

            @include mq($largeBreakpoint) {
                font-size: 2.3em;
                max-width: 16.2em;
            }
        }
    }

    .intro-slide__image {
        padding: 1.5em 0 1em;

        @include mq(400) {
            padding: 1.5em 0 1em;
        }

        @include mq($mobileBreakpoint) {
            padding: 1em 0;
        }
    
        @include mq($removeMobileMenuBreakPoint) {
            flex: 0.8;
            align-self: center;
            padding: 4em 0 2em;
        }

        @include mq($largeBreakpoint) {
            padding-bottom: 2em;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 75%;

            @include mq($mobileBreakpoint) {
                width: 50%;
            }
        
            @include mq($removeMobileMenuBreakPoint) {
                width: 80%;
            }
        }
    }
}