.main-header {
    background: $white;

    .main-header__wrapper {
        @extend .wrapper;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        min-height: 4em;

        @include mq($mobileBreakpoint) {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }

        @include mq($removeMobileMenuBreakPoint) {
            padding-top: 2.75em;
            padding-bottom: 2.75em;
        }
    }

    .main-logo {
        flex: 1;
        order: 1;
        min-width: 10em;
        max-width: 10em;
        position: absolute;
        top: 1.1em;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;

        @include mq($mobileBreakpoint) {
            position: relative;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            margin: 0;
            min-width: 14em;
            order: 0;
        }

        @include mq($removeMobileMenuBreakPoint) {
            min-width: 16em;
        }
    }

    .nav-list {
        display: none;

        @include mq($removeMobileMenuBreakPoint) {
            @include chrisCoyier;
            display: block;
            flex: 1 0 auto;
            min-width: calc(100% - 26.2em);
            padding: 0 0 0 1em;
        }

        @at-root .showMenu .main-header .nav-list {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: $white;
            overflow: hidden;
            width: 100%;
            height: 100%;
            z-index: 11;
            padding: 8em 0 0 0;

            .nav-list__item a {
                display: block;
                text-align: center;
            }
      
            @include mq($removeMobileMenuBreakPoint) {
                display: none;
            }
          }

        .nav-list__item {
            display: block;
  
            @include mq($removeMobileMenuBreakPoint) {
              float: left;
            }

            &.current a {
                color: $brand-color;
            }

            a {
                font-size: 1.1em;
                color: $font-color-dark;
                padding: 1em;
                box-sizing: border-box;

                @include mq($largeBreakpoint) {
                    font-size: 1.25em;
                }
            }
        }
    }

    .btn {
        min-width: 3em;
        max-width: 3em;
        min-height: 3em;
        display: flex;
        flex: 1;
        order: 0;
        border-radius: 50%;

        @include mq($mobileBreakpoint) {
            order: 2;
            margin: auto 1em auto auto;
            min-width: 6em;
            padding: 0.8em 1em;
            border-radius: $r-btn;
        }

        @include mq($removeMobileMenuBreakPoint) {
            margin: 0;
            min-width: 8em;
            padding: 1em 1.5em;
        }

        span {
            display: none;

            @include mq($mobileBreakpoint) {
                display: block;
                width: 100%;
                align-self: center;
                font-size: 0.9em;
                text-align: center;
            }

            @include mq($removeMobileMenuBreakPoint) {
                margin-top: 0.05em;
                font-size: 1em;
            }
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            min-width: 1.5em;
            max-width: 1.5em;
            max-height: 1.5em;
            min-height: 1.5em;

            @include mq($mobileBreakpoint) {
                display: none;
            }
        }
    }
}