.main-app {
    @extend .modal;

    .modal-box__header {
        
        .modal-header__logo {
            display: none;

            @include mq($mobileBreakpoint) {
                display: block;
                max-width: 2.2em;
                max-height: 2.2em;
                margin-left: 1em;
                align-self: center;

                @include mq($mobileBreakpoint) {
                    max-width: 2.4em;
                    max-height: 2.4em;
                    margin-left: 1.5em;
                }
        
                @include mq($removeMobileMenuBreakpoint) {
                    max-width: 3em;
                    max-height: 3em;
                    margin-left: 2em;
                }
            }
        }
    }

    .modal-box__heading {
        flex: 1;
        padding: 1em;
        box-sizing: border-box;

        @include mq($mobileBreakpoint) {
            padding: 1.5em;
        }

        @include mq($removeMobileMenuBreakpoint) {
            padding: 1.8em;
        }

        h2 {
            font-size: 1em;
            margin: 0;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($mobileBreakpoint) {
                font-size: 1.2em;
            }

            @include mq($removeMobileMenuBreakpoint) {
                font-size: 1.5em;
            }
        }

        span {
            font-size: 0.8em;
            color: $brand-color-2;

            @include mq($mobileBreakpoint) {
                font-size: 0.9em;
            }

            @include mq($removeMobileMenuBreakpoint) {
                font-size: 1em;
            }
        }
    }

    .modal-box__body {

        .modal-intro {

            p {
                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }
    
                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.2em;
                }
            }

            h3 {
                margin-top: 1.5em;
                font-size: 1.1em;
                text-align: center;
                color: $font-color-dark;

                @include mq($mobileBreakpoint) {
                    margin-top: 2em;
                    font-size: 1.3em;
                }
    
                @include mq($removeMobileMenuBreakpoint) {
                    margin-top: 2em;
                    font-size: 1.6em;
                }
            }
        }

        .modal-step {
            p {
                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }
    
                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.2em;
                }
            }

            h3 {
                margin: 0;
                font-size: 1.2em;

                @include mq($mobileBreakpoint) {
                    font-size: 1.3em;
                }
    
                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.5em;
                }
            }
        }
    }
}