.main-app {

    .modal-box__header {

        .modal-header__logo {
            display: none;

            @include mq($mobileBreakpoint) {
                display: block;
                max-width: 2.2em;
                max-height: 2.2em;
                margin-left: 1em;
                align-self: center;

                @include mq($mobileBreakpoint) {
                    max-width: 2.4em;
                    max-height: 2.4em;
                    margin-left: 1.5em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    max-width: 3em;
                    max-height: 3em;
                    margin-left: 2em;
                }
            }
        }
    }

    .modal-box__heading {
        flex: 1;
        padding: 1em;
        box-sizing: border-box;

        @include mq($mobileBreakpoint) {
            padding: 1.5em;
        }

        @include mq($removeMobileMenuBreakpoint) {
            padding: 1.8em;
        }

        h2 {
            font-size: 1em;
            margin: 0;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($mobileBreakpoint) {
                font-size: 1.2em;
            }

            @include mq($removeMobileMenuBreakpoint) {
                font-size: 1.5em;
            }
        }

        span {
            font-size: 0.8em;
            color: rgba($brand-color-2, 0.8);
            line-height: 130%;
            display: block;

            @include mq($mobileBreakpoint) {
                font-size: 0.9em;
                line-height: 150%;
            }

            @include mq($removeMobileMenuBreakpoint) {
                font-size: 1em;
            }
        }
    }

    .modal-box__body {

        .modal-intro {

            p {
                margin-top: 0.2em;

                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.2em;
                }
            }

            h2 {
                margin: 1em 0 0;
                font-size: 1em;
                color: $font-color-dark;

                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.3em;
                }
            }

            h3 {
                margin-top: 1.5em;
                font-size: 1.1em;
                text-align: center;
                color: $font-color-dark;

                @include mq($mobileBreakpoint) {
                    margin-top: 2em;
                    font-size: 1.3em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.6em;
                }
            }
        }

        .modal-done {

            p {
                max-width: 30em;
                margin: 1em auto;
                text-align: center;

                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.2em;
                }
            }

            h3 {
                margin-top: 1em;
                font-size: 1.1em;
                text-align: center;
                color: $font-color-dark;

                @include mq($mobileBreakpoint) {
                    margin: 1em 0 1.5em;
                    font-size: 1.3em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.6em;
                }
            }
        }

        .modal-step {
            p {

                @include mq($mobileBreakpoint) {
                    font-size: 1.1em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.2em;
                }
            }

            h3 {
                color: $font-color-dark;
                margin: 0 0 1em;
                font-size: 1.2em;

                @include mq($mobileBreakpoint) {
                    font-size: 1.3em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.5em;
                }
            }

            h4 {
                margin: 0;
                color: $font-color-dark;
                font-size: 1em;

                @include mq($mobileBreakpoint) {
                    font-size: 1.05em;
                }

                @include mq($removeMobileMenuBreakpoint) {
                    font-size: 1.1em;
                }
            }

            .label-checkbox {
                margin-bottom: 2em;
            }
        }

        .field-header {
            margin: 1.9em 0 0.5em;
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            align-items: flex-end;

            h4 {
                flex: 1;
                display: block;
            }

            span {
                font-size: 0.8em;
                flex: 0.4;
                display: block;
                text-align: right;
            }
        }

        .field-text {
            display: block;
            font-size: 0.9em;
            font-style: italic;
            margin-bottom: 0.5em;
            color: $font-color;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .field-block {

            .label-input {
                margin: 0 0 1em;
            }
        }
    }
}
