.mobile-menu {
    flex: 1;
    order: 3;
    margin: auto;
    z-index: 12;
  
    @include mq($removeMobileMenuBreakPoint) {
      display: none;
    }
  
    .mobile-menu__hamburger {
      position: relative;
      width: 48px;
      height: 48px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform 400ms ease;
  
      &:hover {
  
        .mobile-menu__hamburger__bar {
          transition: color 150ms ease;
        }
      }
  
      .mobile-menu__hamburger__bar {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 2px;
        background: $brand-color;
        transition: color 500ms ease, transform 150ms ease;
  
        @at-root .showMenu .mobile-menu .mobile-menu__hamburger .mobile-menu__hamburger__bar {
  
          &.mobile-menu__hamburger__bar--top {
            transform: rotate(45deg);
            transition: transform 250ms ease;
          }
  
          &.mobile-menu__hamburger__bar--middle {
            opacity: 0;
            transition: opacity 250ms ease;
          }
  
          &.mobile-menu__hamburger__bar--bottom {
            transform: rotate(-45deg);
            transition: transform 250ms ease;
          }
        }
  
        &.mobile-menu__hamburger__bar--top {
          transform: translateY(-8px);
          transition: transform 250ms ease;
        }
  
        &.mobile-menu__hamburger__bar--bottom {
          transform: translateY(8px);
          transition: transform 250ms ease;
        }
      }
    }
  }