.narrator-sorting {
    margin-top: 1em;

    @include mq($mobileBreakpoint) {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
    }

    @include mq($removeMobileMenuBreakpoint) {
        margin: 2em 0;
    }

    .search-selector {
        margin-bottom: 0.5em;

        @include mq($mobileBreakpoint) {
            flex: 1;
            margin: 0 1em 0 0;
        }
    }

    .label-input {
        margin: 0;

        @include mq($mobileBreakpoint) {
            flex: 1;
        }
    }
}