.narrator-grid {
    margin-top: 1em;

    @include mq($removeMobileMenuBreakpoint) {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
    }

    @include mq($largeBreakpoint) {
        justify-content: flex-start;
    }

    .narrator-item {
        margin: 0 auto 1em;
        max-width: 30em;
        flex: 1;

        @include mq($removeMobileMenuBreakpoint) {
            width: 49%;
            min-width: 49%;
            max-width: 49%;
        }

        @include mq($largeBreakpoint) {
            width: 32%;
            min-width: 32%;
            max-width: 32%;
            margin: 0 2% 1em 0;

            &:nth-child(3n) {
                margin: 0 0 1em;
            }
        }
    }
}