.narrator-item {
    box-sizing: border-box;
    border: 1px solid $border-color;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;

    .narrator-item__avatar {
       display: none;

        @include mq($smallMobileBreakpoint) {
            display: block;
            flex: 1;
            min-width: 5em;
            max-width: 5em;
            height: 6.7em;
            display: flex;
            flex-flow: nowrap row;
            align-items: center;
        }

        @include mq($mobileBreakpoint) {
            min-width: 6em;
            max-width: 6em;
        }
    }

    .narrator-item__content {
        flex: 1;
        padding: 1em;
        box-sizing: border-box;

        @include mq($smallMobileBreakpoint) {
            padding-left: 0;
        }

        .narrator-name {
            margin: 0;
            display: block;
            font-size: 0.9em;
        }

        .narrator-genre {
            display: block;
            font-size: 0.8em;
        }

        .narrator-narrations {
            display: block;
            font-size: 0.8em;
        }

        .narrator-price {
            display: block;
            font-size: 0.8em;
        }
    }

    .narrator-item__preview {
        background: none;
        border: none;
        flex: 1;
        min-width: 5em;
        max-width: 5em;
        height: 5em;
        margin-right: 1em;
        cursor: pointer;

        &:hover {

            svg {
                 circle {
                    fill: rgba($black, 0.2);
                 }

                 polygon {
                    fill: $brand-color;
                 }
            }
        }

        svg {
            circle {
                fill: rgba($black, 0.1);
            }
                
            polygon {
                fill: $black;
            }
        }
    }
}