.survey-buttons {
    margin: 3em 0 1em;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;

    @include mq($mobileBreakpoint) {
        margin: 2em 0 0;
    }

    @include mq($removeMobileMenuBreakpoint) {
        margin: 3em 0 0;
    }

    @at-root .modal-step .survey-buttons {
        margin: 1em 0;

        @include mq($mobileBreakpoint) {
            margin: 2em 0 1em;
        }
    }
    
    
    .btn {
        margin-right: 1em;
        min-width: 10em;
        font-size: 1em;

        @include mq($mobileBreakpoint) {
            min-width: 12em;
        }

        &:last-child {
            margin: 0;
        }
    }
}