.testimonial-block {

    @include mq($mobileBreakpoint) {
        margin: 2em 0 3em;
    }

    @include mq($removeMobileMenuBreakPoint) {
        margin: 4em 0;
    }

    @include mq($largeBreakpoint) {
        margin: 6em 0;
    }

    .testimonial-person {
        margin: 1em 0;
        display: flex;
        flex-flow: nowrap row;
        align-items: center;

        .testimonial-person__content {
            padding: 1em 1em 1em 1.4em;
            box-sizing: border-box;
            background: $white;
            border-radius: 0 $r $r 0;
            margin-left: -1em;

            .testimonial-person__content__name {
                display: block;
                color: $brand-color-2;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .testimonial-person__content__job {
                display: block;
                color: $font-color-dark;
            }
        }

        .testimonial-person__avatar {
            position: relative;
            border-radius: 50%;
            background: url("../../img/oplevelse-eksempel.jpg") no-repeat center 100%/cover;
            padding: 1em;
            border: 6px solid $white;
            box-sizing: border-box;
            min-width: 6em;
            max-width: 6em;
            min-height: 6em;
            max-height: 6em;
            z-index: 1;
        }
    }
    
    .testimonial-quote {
        margin: 1em 0;
        padding: 1em;
        box-sizing: border-box;
        background: $white;
        border-radius: $r;

        @include mq($mobileBreakpoint) {
            margin: 1.5em 0 3em;
            padding: 3em 2em;
        }

        @include mq($removeMobileMenuBreakPoint) {
            margin: 1.5em 5.2em 3em;
            padding: 3em 2em;
        }

        p {
            margin: 0;
            font-size: 1.1em;
            line-height: 150%;
            color: $font-color;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include mq($mobileBreakpoint) {
                font-size: 1.4em;
            }

            @include mq($removeMobileMenuBreakPoint) {
                font-size: 1.5em;
            }
        }
    }
}