.label-input {
  margin: 0 0 2em;
  position: relative;

  @at-root .suggestion-list-component.input-field .label-input {

    input, textarea, select {
      padding: 0.6em 2.8em 0.8em 1em;
      cursor: pointer;
    }

    label {
      left: 1em;
    }

    .icon-dropdown {
      left: auto;
      top: 1em;
      right: 0.9em;
    }
  }
  
  input, textarea, select {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0.6em 1em 0.8em 1em;
    font-family: $font-standard;
    font-size: 0.8em;
    color: $font-color;
    background: $white;
    cursor: text;
    border: 1px solid $border-color;
    border-radius: $r;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 2px rgba($black,0.05);
    transition: background 200ms ease, color 200ms ease;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
      color: $font-color;
      transition: color 200ms ease;
    }

    &::-moz-placeholder {
      color: $font-color;
      transition: color 200ms ease;
    }

    &:-ms-input-placeholder {
      color: $font-color;
      transition: color 200ms ease;
    }

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: rgba($black, 0.15);
      box-shadow: 0 1px 1px rgba($black,0.05);
      color: $brand-color;
      transition: background 200ms ease, color 200ms ease;

      &::-webkit-input-placeholder {
        color: $brand-color;
        transition: color 200ms ease;
      }

      &::-moz-placeholder {
        color: $brand-color;
        transition: color 200ms ease;
      }

      &:-ms-input-placeholder {
        color: $brand-color;
        transition: color 200ms ease;
      }
    }

    &:hover ~ svg {

      path, rect, circle {
        fill: $brand-color;
        transition: fill 110ms ease;
      }
    }

    &:hover ~ label {
      color: $brand-color;
    }

    &:focus {
      color: $brand-color;
    }

    &:focus:hover {
      color: $brand-color;
      background: tint($brand-color,96%);
      transition: background 200ms ease, color 200ms ease, border 280ms ease;
    }

    &:focus ~ label, &.has-text ~ label {
      font-size: 0.8em;
      opacity: 1;
      transition: opacity 110ms ease, transform 200ms ease, font-size 200ms ease;
      transform: translate3d(-1em,-2.4em,0);
      text-shadow: none;
    }

    &:focus ~ svg {

      path, rect, circle {
        fill: $brand-color;
        transition: fill 110ms ease;
      }
    }
  }

  select {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  textarea {
    resize: none;
  }

  label {
    position: absolute;
    top: 0.75em;
    bottom: 0;
    left: 1em;
    color: $font-color;
    font-family: $font-standard;
    font-size: 0.8em;
    pointer-events: none;
    opacity: 1;
    transition: opacity 110ms ease;
  }

  svg {
    position: absolute;
    top: 1em;
    right: 0.9em;
    left: auto;
    margin: auto;
    width: 1em;
    height: auto;
    max-height: 0.95em;
    pointer-events: none;

    path, rect, circle {
      fill: rgba($font-color, 0.6);
      transition: fill 110ms ease;
    }
  }
}