.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
    background: rgba($black, 0.2);
    z-index: 999;
  
    .modal-box {
      background: $white;

      @include mq($mobileBreakpoint) {
        border-radius: $r+1;
        position: absolute;
        top: 2em;
        right: 0;
        bottom: auto;
        left: 0;
        margin: auto;
        max-width: 40em;
    }

      @include mq($removeMobileMenuBreakpoint) {
          max-width: 50em;
      }
  
      .modal-box__header {
        display: flex;
        background: $bg-color-dark;

        @include mq($mobileBreakpoint) {
          border-radius: $r $r 0 0;
        }
  
        a {
          background: $bg-color;
          color: $white;
          display: block;
          padding: 1em;
          box-sizing: border-box;
          flex: 1;
          text-align: center;
          cursor: pointer;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transition: background 110ms ease, color 110ms ease;
  
          &:hover {
            background: $black;
            color: $brand-color;
            transition: background 110ms ease, color 110ms ease;
          }
  
          &.current {
            font-weight: bold;
            background: $white;
  
            &:hover {
              color: $brand-color;
              background: $brand-color;
            }
          }
        }
  
        .modal-box__header__heading {
          display: block;
          padding: 1em;
          box-sizing: border-box;
          flex: 1;
          font-weight: bold;
        }
  
        .modal-box__header__close {
          position: relative;
          display: block;
          flex: 1;
          min-width: 5em;
          max-width: 5em;
          padding: 1em;
          box-sizing: border-box;
          border: none;
          background: $bg-color-dark;
          border-left: 1px solid shade($bg-color-dark, 20%);
          cursor: pointer;
          transition: background 110ms ease;

          @include mq($mobileBreakpoint) {
            min-width: 8em;
            max-width: 8em;
            border-radius: 0 $r 0 0;
          }
  
          &:hover {
            background: $bg-color-dark;
            transition: background 110ms ease;
  
            svg path {
              fill: $brand-color;
              transition: fill 110ms ease;
            }
          }
  
          svg {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 1.4em;
            height: 1.4em;

            @include mq($mobileBreakpoint) {
              width: 1.8em;
              height: 1.8em;
            }
  
            path {
              fill: $white;
              transition: fill 110ms ease;
            }
          }
        }
      }

      .modal-box__body {
        padding: 0;
        box-sizing: border-box;
        overflow-y: auto;
        max-height: 66vh;
        -webkit-overflow-scrolling: touch;

        @include mq($mobileBreakpoint) {
          max-height: 73vh;
        }

        &.modal-box__body--padding {
          padding: 1em;

          @include mq($mobileBreakpoint) {
            padding: 1.5em;
          }

          @include mq($mobileBreakpoint) {
            padding: 2em;
          }
        }
      }
  
      .modal-box__footer {
        overflow: hidden;
        box-shadow: 0 -3px 6px rgba($black, 0.15);
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        padding: 0;
        box-sizing: border-box;
        background: $bg-color-dark;

        @include mq($mobileBreakpoint) {
          border-radius: 0 0 $r $r;
        }
  
        button, .btn {
          flex: 1;
          border: none;
          border-right: 1px solid rgba($black, 0.5);
          border-radius: 0;
          margin: 0;
          background: none;
          color: $white;
          box-shadow: none;
          padding: 1em 0.6em;
          box-sizing: border-box;
  
          &:hover {
            background: rgba($black, 0.25);
            color: $white;
            box-shadow: none;
            text-shadow: none;
          }
  
          &.btn--negative {
            color: $negative;
  
            &:hover {
              color: $negative;
            }
          }
  
          &.btn--positive {
            color: $positive;
  
            &:hover {
              color: $positive;
            }
          }
  
          &:last-child {
            border-right: none;
          }
        }      
      }
    }
  }